!!!
html
  head
    title= title
    meta(charset='utf-8')
    script(src='http://code.jquery.com/jquery-1.6.4.min.js')
    script(src='/javascripts/jquery.watermark.min.js')
    script(src='/javascripts/myscript.js')

    link(rel='stylesheet', href='/stylesheets/trontastic/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
