/**  スタイルシート  **/
body
  padding: 10px
  font-family: "Lucida Grande","Lucida Sans Unicode","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Helvetica,Arial,Verdana,sans-serif
  background-color: #ddddff

div.label
  display: inline-block
  width: 2em
  text-align: right
  margin-right: 4px

input
  font: 14px "Segoe UI",Arial,Helvetica,sans-serif
  margin-top: 4px
.hen
  width: 6em

.watermark
  color: #999 !important
  font-style: italic !important
