body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

fieldset
  margin-bottom: 10px;

label
  display: inline-block
  line-height: 1.8
  vertical-align: top

input
  font: 14px "Segoe UI",Arial,Helvetica,sans-serif
  margin-top: 4px

.watermark
  color: #999 !important
  font-style: italic !important
