/**  スタイルシート  **/
body {
  padding: 10px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  background-color: #ddf;
}
div.label {
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 4px;
}
input {
  font: 14px "Segoe UI", Arial, Helvetica, sans-serif;
  margin-top: 4px;
}
.hen {
  width: 6em;
}
.watermark {
  color: #999 !important;
  font-style: italic !important;
}
fieldset {
  background: -moz-linear-gradient(19% 80% 88deg, #ddf, #a0a0a0 90%);
  -moz-box-shadow: 10px 10px 5px #000;
  -webkit-box-shadow: 10px 10px 5px #000;
  box-shadow: 10px 10px 5px #000;
  border: solid 1px #000;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
